.spacer{
    flex: 1 1 auto;
}
.example-sidenav {
    user-select: none;
 }
mat-sidenav {
    width: auto;
    border-right: none;
    background: #002b5c;
    color: white;
}

.mat-drawer-container {
    background-color: white;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    margin-left: 16px;
    margin-right: 16px; 
}

.content {
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.card {
    max-width: 400px;
  }